texput.log

siddur_olat_tamid.aux
siddur_olat_tamid.log
siddur_olat_tamid.out
siddur_olat_tamid.synctex.gz
siddur_olat_tamid.toc

bircat_hamazon.aux
bircat_hamazon.log
bircat_hamazon.out
bircat_hamazon.synctex.gz

misheberach_sheet.aux
misheberach_sheet.log
misheberach_sheet.out
misheberach_sheet.synctex.gz
missfont.log

.ipynb_checkpoints 
